<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Product</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="post">

        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name" value="<%= product.name %>"><br>

        <label for="price">Product Price</label>
        <input type="number" name="price" id="price" placeholder="Price" value="<%= product.price %>"><br>

        <label for="category">Category</label>
        <select type="" name="category" id="category" placeholder="Category">
            <% for(let cat of categories) {%>
                <option value="<%= cat %>" <%= product.category === cat ? 'selected' : '' %> ><%= cat %></option>
            <% } %>
        </select>
         </br>

        <button type="submit">Edit</button>
    </form>
    <br>
    <a href="/products">Back</a>
    
</body>
</html>